
#miniPomodoro,
#openCalendar{
    color: #17D4FE;
    font-size: 15px;
    font-family: Orbitron;
    position: absolute;
    top: 100px;
    left: 0;
}

#miniPomodoro:hover,
#openCalendar:hover{
    text-shadow: 
                0 0 5px rgba(255, 255, 255, 0.7), /* Sombra blanca clara */
                0 0 10px rgba(255, 255, 255, 0.5), /* Sombra blanca menos intensa */
                0 0 15px rgba(255, 255, 255, 0.3); /* Resplandor blanco más suave */
}

#miniPomodoro{
    left: 250px;
}
