.program-cell{
    background-color: rgba(153, 154, 161, 0.99);
    background-size: 110%;
    background-position: -51px -47px;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 1px 1px #000;
    clip-path: polygon(0 9%, 10% 0, 46% 0, 54% 8%, 94% 8%, 100% 15%, 100% 38%, 100% 59%, 100% 92%, 94% 100%, 6% 100%, 0 93%);
    border: solid 2px rgb(40 42 54 / 80%);
    padding: 50px;
    height: 120px;
    width: 200px;
    text-transform: capitalize;
}
.program-cell:hover{
    background-color: rgb(40 42 54 / 80%);
    cursor: pointer;
}
.program-cell:hover label {
    background-color:rgba(153, 154, 161, 0.99); 
}
.program-cell:active{
    background-color: rgb(40 42 54 / 99%);
}
.program-cell label {
    background-color: #1f2229;
    clip-path: polygon(9% 0, 100% 0, 100% 43%, 87% 100%, 0 100%, 0 25%);
    padding: 3px;
    display: block;
    width: 150%;
    margin-left: -14px;
    margin-top: 31px;
}