/* --[interface]-- */
/*     app_tw     */
/* ---------------- */
#app_tw {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 300px;
    display: none;
    position: relative;
    margin: 15% -252px;
    padding-top: 40px;
    transition: margin-left 0.3s ease;
    cursor: pointer;
    opacity: 0.9;
}

#app_tw::before,
#app_tw::after {
    content: '';
    position: absolute;
    top: 0;
    right: -23px;
    top: 30%;
    width: 10px;
    height: 50%;
    background-color: var(--color-primario-lite);
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    opacity: .8;

}

#app_tw::after {
    box-shadow:
        0 0 5px rgba(255, 255, 255, 0.7),
        /* Sombra blanca clara */
        0 0 10px rgba(255, 255, 255, 0.5),
        /* Sombra blanca menos intensa */
        0 0 15px rgba(255, 255, 255, 0.3);
    /* Resplandor blanco más suave */
}

#app_tw::before {
    background-color: rgba(247, 247, 247, 0);
    right: -40px;
    width: 50px;
}

#app_tw:hover {
    margin-left: 4px !important;
}


.app-box {
    background-color: var(--color-secundario);
    clip-path: polygon(9% 0, 100% 0, 100% 63%, 90% 100%, 0 100%, 0 25%);
    padding: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    height: 40px;
    width: 75%;
    vertical-align: top;
    transition: background-color .3s;
    display: flex;
    align-items: center;
    text-align: left;
    text-shadow: 1px 1px 0 #000;
    padding-left: 30px;
    font-size: 20px;
    margin-left: 20%;
    margin-top: 10px;
    color: var(--color-solid);
    opacity: 0.9;
}

.app-box:hover {
    opacity: 1;
    background-color: var(--color-primario-lite);
}


/* decoración */
.border_decore {
    margin-top: 41px;
    margin-left: 14px;
    position: absolute;
}

.app_twd1 {
    border: solid 1px var(--color-solid);
    width: 25px;
    margin-top: 0px;
}

.app_twd2 {
    background-color: var(--color-solid);
    width: 30px;
    height: 2px;
    transform: rotate(-45deg);
    margin-left: 20px;
    margin-top: -12px;
}

.app_twd3 {
    border: solid 1px var(--color-solid);
    width: 100px;
    margin-top: -12.5px;
    margin-left: 45px;
}

.app_twd4 {
    background-color: var(--color-solid);
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
    width: 100px;
    height: 10px;
    margin-top: -10px;
    margin-left: 95px;
}

.app_twd5 {
    background: repeating-linear-gradient(-45deg, #ffffff00, #ffffff00 5px, #ffffff 5px, #ffffff 24.5px);
    width: 10px;
    height: 240px;
    position: absolute;
    margin-left: 10px;
    margin-top: 28px;
}

.app_twd5_big {
    background: repeating-linear-gradient(-45deg, #ffffff00, #ffffff00 5px, #ffffff 5px, #ffffff 24.5px);
    width: 10px;
    height: 80%;
    position: fixed;
    margin-left: 10px;
    margin-top: 28px;
}

.opacity09 {
    opacity: .9;
}

/* nueva interface: */

.container_tw {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
}

.card-container_tw {
    position: absolute;
    top: 0;
    filter: drop-shadow(2px 2px 2px #4090b5) drop-shadow(-2px -2px 2px #17d4fe66);
    animation: blinkShadowsFilter 8s ease-in infinite;
}

.card-content_tw {
    display: grid;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    grid-template-rows: 0.1fr 0.7fr 0.25fr;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px 5px 5px 5px;
    width: 110%;
    height: 300px;
    clip-path: polygon(0 0, 85% 0, 100% 14%, 100% 60%, 92% 65%, 93% 77%, 99% 80%, 99% 90%, 89% 100%, 0 100%);
}