/* --[Componente]-- */
/*  day-Programas  */
/* ---------------- */
#component-day {
    font-family: 'Incompleeta';
    font-size: 100px;
    font-weight: bold;
    color: var(--color-solid);
    letter-spacing:45px;
    padding: 0;
    padding-left: 13px;
    margin-top: -37px;
    text-shadow:
        -2px -2px 0 var(--color-solid),
        -2px 0 0 var(--color-solid),
        -2px 2px 0 var(--color-solid),
        0 -2px 0 var(--color-solid),
        0 2px 0 var(--color-solid),
        2px -2px 0 var(--color-solid),
        2px 0 0 var(--color-solid),
        2px 2px 0 var(--color-solid);
}
