/* --[Componente]-- */
/*  day-Programas  */
/*  div#myModal08 */
/* ------------- */
#component-day {
    font-family: 'Incompleeta';
    font-size: 100px;
    font-weight: bold;
    color: var(--color-solid);
    letter-spacing:45px;
    padding: 0;
    position: relative;
    width: 885px;
    left: 0;
    margin-top: -36px;
    margin-left: 9px;
    text-align: center;
    text-shadow:
        -2px -2px 0 var(--color-solid),
        -2px 0 0 var(--color-solid),
        -2px 2px 0 var(--color-solid),
        0 -2px 0 var(--color-solid),
        0 2px 0 var(--color-solid),
        2px -2px 0 var(--color-solid),
        2px 0 0 var(--color-solid),
        2px 2px 0 var(--color-solid);        
}
