/* --[Componente]-- */
/* Lector-component */
/*   #myModal05     */
/* ---------------- */  
#component-Lector{
    width: 50px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 5px;
    left: 8px;
}
#component-Lector #Off #obj-off,
#component-Lector #ON #obj-on{
    display: none;
    cursor: pointer;
}
#component-Lector #ON #obj-on{
    transform: rotate(-135deg);
    margin-left: -15px;
    margin-top: -15px;
    left: -10px;
    top: -10px;
    position: relative;
}
#component-Lector #Off{
    color: var(--color-primario-lite);
    border: solid var(--color-primario-lite) 2px;
    transform: rotate(45deg);
    font-size: 40px;
    text-align: center;
    padding: 10px 30px;
    position: absolute;
    margin: 0 auto;
    display: block;
    width: 63px;
    height: 63px;
}
#component-Lector #Off:hover{
    box-shadow: 
        0 0 5px rgba(255, 255, 255, 0.7), /* Sombra blanca clara */
        0 0 10px rgba(255, 255, 255, 0.5), /* Sombra blanca menos intensa */
        0 0 15px rgba(255, 255, 255, 0.3); /* Resplandor blanco más suave */
}

#component-Lector #Off #obj-off{
    margin-left: -17px;
    transform: rotate(-45deg);
    position: relative;
    z-index: 1;
}
#component-Lector #ON{
    position: relative;
    left: 5px;
    transform: rotate(-45deg);
    width: 75px;
    height: 75px;
}
/* decoración*/
#Off>.cudrado_twd1{
    clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%);
    border: solid var(--color-primario-lite) 2px;
    width: 75px;
    height: 75px;
    margin-top: 4px;
    margin-left: -38px;
    z-index: -1;
}
#Off>.line_twd1,
#Off>.line_twd2{
    background-color: var(--color-primario-lite);
    transform: rotate(-45deg);
    width: 18px;
    height: 2px;
}

#Off>.line_twd1{
    margin-top: 8px;
    margin-left: -39px;
}

#Off>.line_twd2{
    margin-top: -60px;
    margin-left: 20px;
}

#Off>.punto_twd1,
#Off>.punto_twd2{
    background-color: var(--color-primario-lite);
    border-radius: 100%;
    width: 10px;
    height: 10px;
} 
#Off>.punto_twd1 {
    margin-top: 70px;
    margin-left: -52px;
}

#Off>.punto_twd2 {
    margin-top: -104px;
    margin-left: 42px;
}