/* OpenWebUI-component */
#myModal10{
 opacity: 1 !important;    
}
#OpenWebUI-component{
    background-color: aliceblue;
    width: 750px;
    height: 600px;

}
#foo{
    background-color: rgb(26, 23, 23);
    display:inline-flex; 
    width:100%; 
    height:100%;
    border: solid 10px;
    margin: 0 auto;
    display: block;
}