<section class="section fixed-grid has-7-cols">
    <div class="grid">
        
        <div class="cell program-cell has-text-centered app_twlist" id="Pomodoro" data-config="myModal06">
            pomodoro              
        </div>

        <div class="cell program-cell has-text-centered app_twlist" id="Alarma" data-config="myModal07">
            alarma              
        </div>

        <div class="cell program-cell has-text-centered app_twlist" id="Notas" data-config="myModal11">
            notas              
        </div>

    </div>
</section>
