<div id="Folders-component">
    <div class="container">
        <div class="honeycomb">
            <div class="hexes-1 column">
                <a class="hex" id="openFolder-www">
                    <div class="wrapper">
                        <div class="hexagon color-1">
                            <span>
                                <img src="./images/Componets-folders/www.png" />
                            </span>
                        </div>
                    </div>
                    <span class="content">
                        <strong>📁Carpeta</strong>
                        <small>🌍www</small>
                    </span>
                </a>
            </div>
            <div class="hexes-2 column">
                <a class="hex" id="openFolder-descargas">
                    <div class="wrapper">
                        <div class="hexagon color-1">
                            <span>
                                <img src="./images/Componets-folders/descarga.png" />
                            </span>
                        </div>
                    </div>
                    <span class="content">
                        <strong>📁Carpeta</strong>
                        <small>⏬Descargas</small>
                    </span>
                </a>
    
                <a class="hex" id="openFolder-imagenes">
                    <div class="wrapper">
                        <div class="hexagon color-1">
                            <span>
                                <img src="./images/Componets-folders/imagenes.png" />
                            </span>
                        </div>
                    </div>
                    <span class="content">
                        <strong>📁Carpeta</strong>
                        <small>📷Imagenes</small>
                    </span>
                </a>
            </div>
            <div class="hexes-3 column" >

                <a class="hex" id="openAcceso-desk">
                    <div class="wrapper">
                        <div class="hexagon color-1">
                            <span>
                                <img src="./images/Componets-folders/desk.png" />
                            </span>
                        </div>
                    </div>
                    <span class="content">
                        <strong>📁Acceso</strong>
                        <small>💷Escritorio</small>
                    </span>
                </a>
    
               

                
            </div>

            <div class="hexes-4 column" >

                <a class="hex" id="openFolder-document">
                    <div class="wrapper">
                        <div class="hexagon color-1">
                            <span>
                                <img src="./images/Componets-folders/document.png" />
                            </span>
                        </div>
                    </div>
                    <span class="content">
                        <strong>📁Carpeta</strong>
                        <small>📚Documentos</small>
                    </span>
                </a>

                <a class="hex" id="openFolder-video">
                    <div class="wrapper">
                        <div class="hexagon color-1">
                            <span>
                                <img src="./images/Componets-folders/video.png" />
                            </span>
                        </div>
                    </div>
                    <span class="content">
                        <strong>📁Carpeta</strong>
                        <small>🎥Video</small>
                    </span>
                </a>

            </div>

            <div class="hexes-4 column" >

                <a class="hex" id="openFolder-trabajo">
                    <div class="wrapper">
                        <div class="hexagon color-1">
                            <span>
                                <img src="./images/Componets-folders/trabajo.png" />
                            </span>
                        </div>
                    </div>
                    <span class="content">
                        <strong>📁Carpeta</strong>
                        <small>🐱‍💻Trabajo</small>
                    </span>
                </a>

            </div>

        </div>
    </div>
</div>