<div id="component-Lanzador">
    <div class="usermenu">
		<div></div>
		<a href="#/openSublime" class="SublimeText" id="openSublime"></a>
		<a href="#/openChrome" 	class="ChromeDev"   id="openChrome"></a>
		<a href="#/openSublime" class="Pomodoro" 	id="openPomodoro"></a>
		<a href="#/openLectorVoz" class="LectorVoz"	id="openLectorVoz"></a>
		<a href="#/settings5" class="alert"></a>
		<a href="#/settings6" class="alert"></a>
		<a href="#/settings7" class="alert"></a>
		<a href="#/settings8" class="alert"></a>
		<a href="#/settings9" class="alert"></a>
    </div>  
</div>