<div id="component-Lanzador">
    <div class="usermenu">
		<div id="program_menu"></div>
		<a href="#/openSublime" 	class="SublimeText" id="openSublime"></a>
		<a href="#/VisualCode" 		class="VisualCode"  id="openVisualCode"></a>
		<a href="#/openDBeaver" 	class="DBeaver" 	id="openDBeaver"></a>
		<a href="#/openSourcetree" 	class="Sourcetree"	id="openSourcetree"></a>
		<a href="#/openChrome" 		class="ChromeDev"   id="openChrome"></a>
		<a href="#/openOpera" 		class="Opera"   	id="openOpera"></a>
		<a href="#/openBrave" 		class="Brave"   	id="openBrave"></a>
		<a href="#/openPomodoro" 	class="Pomodoro" 	id="openPomodoro"></a>
		<a href="#/openOpenVPN" 	class="OpenVPN"		id="openOpenVPN"></a>
		<a href="#/openWinSCP" 		class="WinSCP"		id="openWinSCP"></a>
		<a href="#/openUwAmp" 		class="UwAmp"		id="openUwAmp"></a>
				
		<!-- <a href="#/openLectorVoz" 	class="LectorVoz"	id="openLectorVoz"></a> -->
		<!-- <a href="#/openGestor" 		class="Gestor"      id="openGestor"></a> -->
    </div>  
</div>