<div id="Luz-component" class="grid">
    <div>
        <label id="title_brightness" for="brightness-slider">Control de Brillo</label>
        <div class="range-control">
            <div class="range-slider-container">
                <input type="range" id="brightness-slider" min="0" max="100" step="1" value="100">
            </div>
            <div class="range-value-container">
                <span id="brightness-input-value" class="range-value">100</span>
            </div>
        </div>
    </div>
    <div class="border_decore volumen_decore">
        <div class="app_twd1"></div>
        <div class="app_twd2"></div>
        <div class="app_twd3"></div>
        <div class="app_twd4"></div>
    </div>
</div>
