<div id="component-Menu">
    <div class="fixed-grid has-2-cols">
        <div class="grid">
            <div class="cell is-col-span-2"></div>
            <div class="cell is-col-span-1 has-text-grey-lighter  has-text-centered">
                <h1>🧩 WIDGET</h1>
                <hr class="has-background-white">
            </div>
            <div class="cell is-col-span-1 has-text-grey-lighter  has-text-centered">
                <h1>⚙ GENERAL</h1>
                <hr class="has-background-white">
            </div>
            <div class="fixed-grid has-12-cols scroll scroll-1" id="Componets">
                <div class="grid">
                    <div class="cell"></div>
                    <div class="cell is-col-span-6 border-bottom">
                        <b class="has-text-grey-lighter"> Relog Digital :</b>
                    </div>
                    <div class="cell is-col-span-5 border-bottom">
                        <div class="control">
                            <div class="switch switch--horizontal switch--no-label">
                                <input id="re-relog-digital" type="radio" name="relog-digital" />
                                <label for="radio-e">NO</label>
                                <input id="rf-relog-digital" type="radio" name="relog-digital" />
                                <label for="radio-f">YES</label>
                                <span class="toggle-outside">
                                    <span class="toggle-inside"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="cell"></div>
                    <div class="cell is-col-span-6 border-bottom">
                        <b class="has-text-grey-lighter"> Dia:</b>
                    </div>
                    <div class="cell is-col-span-5 border-bottom">
                        <div class="control">
                            <div class="switch switch--horizontal switch--no-label">
                                <input id="re-Day" type="radio" name="Day" />
                                <label for="radio-e">NO</label>
                                <input id="rf-Day" type="radio" name="Day"/>
                                <label for="radio-f">YES</label><span class="toggle-outside">
                                <span class="toggle-inside">            
                                </span></span>
                            </div>
                        </div>
                    </div>

                    <div class="cell"></div>
                    <div class="cell is-col-span-6 border-bottom">
                        <b class="has-text-grey-lighter"> Calendario :</b>
                    </div>
                    <div class="cell is-col-span-5 border-bottom">
                        <div class="control">
                            <div class="switch switch--horizontal switch--no-label">
                                <input id="re-Programas01" type="radio" name="Programas01" />
                                <label for="radio-e">NO</label>
                                <input id="rf-Programas01" type="radio" name="Programas01" />
                                <label for="radio-f">YES</label><span class="toggle-outside">
                                <span class="toggle-inside">            
                                </span></span>
                            </div>
                        </div>
                    </div>

                    <div class="cell"></div>
                    <div class="cell is-col-span-6 border-bottom">
                        <b class="has-text-grey-lighter"> Lanzador:</b>
                    </div>
                    <div class="cell is-col-span-5 border-bottom">
                        <div class="control">
                            <div class="switch switch--horizontal switch--no-label">
                                <input id="re-Lanzador" type="radio" name="Lanzador" />
                                <label for="radio-e">NO</label>
                                <input id="rf-Lanzador" type="radio" name="Lanzador"/>
                                <label for="radio-f">YES</label><span class="toggle-outside">
                                <span class="toggle-inside">            
                                </span></span>
                            </div>
                        </div>
                    </div>


                    <div class="cell"></div>
                    <div class="cell is-col-span-6 border-bottom">
                        <b class="has-text-grey-lighter"> Carpetas:</b>
                    </div>
                    <div class="cell is-col-span-5 border-bottom">
                        <div class="control">
                            <div class="switch switch--horizontal switch--no-label">
                                <input id="re-Folders" type="radio" name="Folders" />
                                <label for="radio-e">NO</label>
                                <input id="rf-Folders" type="radio" name="Folders"/>
                                <label for="radio-f">YES</label><span class="toggle-outside">
                                <span class="toggle-inside">            
                                </span></span>
                            </div>
                        </div>
                    </div>
                
                    <div class="cell"></div>
                    <div class="cell is-col-span-6 border-bottom">
                        <b class="has-text-grey-lighter"> Lector Voz:</b>
                    </div>
                    <div class="cell is-col-span-5 border-bottom">
                        <div class="control">
                            <div class="switch switch--horizontal switch--no-label">
                                <input id="re-Lector" type="radio" name="Lector" />
                                <label for="radio-e">NO</label>
                                <input id="rf-Lector" type="radio" name="Lector"/>
                                <label for="radio-f">YES</label><span class="toggle-outside">
                                <span class="toggle-inside">            
                                </span></span>
                            </div>
                        </div>
                    </div>


                    <div class="cell"></div>
                    <div class="cell is-col-span-6 border-bottom">
                        <b class="has-text-grey-lighter"> Volumen:</b>
                    </div>
                    <div class="cell is-col-span-5 border-bottom">
                        <div class="control">
                            <div class="switch switch--horizontal switch--no-label">
                                <input id="re-volumen" type="radio" name="volumen" />
                                <label for="radio-e">NO</label>
                                <input id="rf-volumen" type="radio" name="volumen"/>
                                <label for="radio-f">YES</label><span class="toggle-outside">
                                <span class="toggle-inside">            
                                </span></span>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
            <div class="fixed-grid has-12-cols scroll scroll-1" 
                id="Programas-General">
            </div>
        </div>
    </div>
</div>