<div id="Volumen-component" class="grid">
    <div>
        <label id="title_volumen" for="volume-slider">Contol Volumen</label>
        <div class="range-control">
            <div class="range-slider-container">
                <input type="range" id="volume-slider" min="0" max="100" step="1">
            </div>

            <div class="range-value-container">
                <span id="range-input-value" class="range-value">100</span>
            </div>
        </div>
    </div>
    <div class="border_decore volumen_decore">
        <div class="app_twd1"></div>
        <div class="app_twd2"></div>
        <div class="app_twd3"></div>
        <div class="app_twd4"></div>
    </div>
    <button id="mute-toggle" aria-label="Silenciar/Activar sonido">
        <i class="fas fa-volume-up"></i>
    </button>
</div>