<div id="General-Programas" class="grid">
    <div class="cell"></div>
    <div class="cell is-col-span-5 border-bottom">
        <b class="has-text-grey-lighter">Win activas:</b>
    </div>
    <div class="cell is-col-span-5 border-bottom">
        <div class="control">
            <div class="has-text-centered">
                <button id="openGestor" class="button_general"  name="Gestor" >
                    Abrir Visor<i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="cell"></div>

    <div class="cell"></div>
    <div class="cell is-col-span-5 border-bottom">
        <b class="has-text-grey-lighter">Lector Voz:</b>
    </div>
    <div class="cell is-col-span-5 border-bottom">
        <div class="control">
            <div class="has-text-centered">
                <button id="openLectorVoz" class="button_general" name="LectorVoz" >
                ON Lector <i class="fas fa-microphone"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="cell"></div>


    <div class="cell"></div>
    <div class="cell is-col-span-5 border-bottom">
        <b class="has-text-grey-lighter">Apagar PC:</b>
    </div>
    <div class="cell is-col-span-5 border-bottom">
        <div class="control">
            <div class="has-text-centered">
                <button id="re-power"  class="button_general" name="power" >
                    Apagar <i class="fas fa-power-off"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="cell"></div>

    <div class="cell"></div>
    <div class="cell is-col-span-5 border-bottom">
        <b class="has-text-grey-lighter">Cerrar App:</b>
    </div>
    <div class="cell is-col-span-5 border-bottom">
        <div class="control">
            <div class="has-text-centered">
                <button id="CerrarApp" class="button_general" name="CerrarApp">
                    Cerrar <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
   <div class="cell"></div>

    <div class="cell"></div>
    <div class="cell is-col-span-5 border-bottom">
        <b class="has-text-grey-lighter">Lanzador:</b>
    </div>
    <div class="cell is-col-span-5 border-bottom">
        <div class="control">
            <div class="has-text-centered">
                <button id="ConfigLanzador" class="button_general" name="ConfigLanzador">
                    Config <i class="fa-solid fa-sliders"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="cell"></div>

</div>
