<div id="win-config-Lanzador" class="fixed-grid has-4-cols container">
    <div class="sortable-container lista_lanzador box">
        <h3 class="title is-4 has-text-centered">Organiza tus App</h3>
        <ul id="sortable-list" class="content scroll"></ul>
    </div>
    <section class="cell is-col-span-5 grid botonera_lan">
        <button class="lanzador-button cell " id="save-button">💾Guardar Orden</button>
        <button type="button" class="lanzador-button cell " id="add-button">➕ Agregar Elemento</button>
    </section>
</div>