<div id="Alarma-Programas" class="scroll">
    <section id="alarmas_zone">
        <span id="alarmTime"></span>
        <h2 class="subtitle has-text-white has-text-centered">
            Alarmas Activas
        </h2>
        <ul id="alarmList" class="has-text-white">
            <!-- Aquí se mostrarán las alarmas activas -->
        </ul>
    </section>
    <button type="submit" class="button is-primary addAlarmButton">
        <span>➕</span>
        <div id="AddAlarm" class="add-alarm-container">
            <div class="add-alarm-content">
                <h2 class="form-title">Ajustar Alarma</h2>
                <label for="alarmInputTime">Hora:</label>
                <input type="time" id="alarmInputTime" value="" required>
                <input type="hidden" id="alarmInputTimeHidden">

                <label for="soundSelect">Tono:</label>
                <select name="soundSelect" id="soundSelect">
                    <option value="beep">Tono 1</option>
                    <option value="ring" selected>Tono 2</option>
                </select>

                <label for="repeatSelect">Repetir:</label>
                <select name="repeatSelect" id="repeatSelect">
                    <option value="once">Una vez</option>
                    <option value="daily" selected>Diariamente</option>
                    <option value="weekdays">Lunes a viernes</option>
                </select>

                <label for="alarmLabel">Etiqueta:</label>
                <input type="text" id="alarmLabel" placeholder="Nueva alarma">

                <div class="align-center">
                    <label for="autoDelete">Eliminar cuando suene?</label>
                    <input type="checkbox" id="autoDelete">
                </div>
                <br><br>
                <div class="button-group">
                    <input type="button" value="Crear" id="btnCrear" class="button is-primary">
                    <input type="button" value="Cancelar" id="btnCancelar" class="button is-danger">
                </div>
            </div>
        </div>
    </button>
</div>