* {
    margin: 0;
    padding: 0; 
  }
  div#myModal00 {
    z-index: 3;
  }
  /* Icon 1 */
  
  #nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  /* Icon 2 */
  
  /* #nav-icon2 {
  } */
  
  #nav-icon2 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: #d3531a;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon2 span:nth-child(even) {
    left: 50%;
    /* border-radius: 0 9px 9px 0; */
  }
  
  #nav-icon2 span:nth-child(odd) {
    left:0px;
    /* border-radius: 9px 0 0 9px; */
    
  }
  #nav-icon2 span:nth-child(3){
    border-radius: 10px  0  0 10px;
  }
  #nav-icon2 span:nth-child(4){
    border-radius: 0 10px 10px 0;
  }
  #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    top: 0px;
    left:14px;
    height:4px;
  }
  
  #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    top: 18px;
  }
  
  #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    top: 36px;
    left:14px;
    height:4px;
  }

  #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) ,
  #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2){
    border-radius: 10px;
  }
  
  #nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }
  
  #nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }
  
  #nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }
  
  #nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }
  
  /* Icon 3 */
  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 18px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 36px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  /* Icon 4 */
  
  /* #nav-icon4 {
  } */
  
  #nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }
  
  #nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  #nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }


  /* menu configuración */
  #nav-icon2 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background-color: #17D4FE;;
    box-shadow: 
                0 0 5px rgba(255, 255, 255, 0.1), /* Sombra blanca clara */
                0 0 10px rgba(255, 255, 255, 0.1), /* Sombra blanca menos intensa */
                0 0 15px rgba(255, 255, 255, 0.5); /* Resplandor blanco más suave */
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon2 {
    position: absolute;
    bottom: -20px;
    right: 30px;
}
#Componets{
  height: 170px;
  overflow: auto;
  margin-top: -10px;
}
.gadget-config-lanzador,
.gadget-config{
  background-color: rgba(255, 255, 255, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 650px;
  height: 300px;
  padding: 35px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 0px 5px 5px 5px ; 
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  /* display: none; */
  z-index: 2;
}



.win-all{
  width: 80%;
  height: 70%;
  margin-top: -100px;
  margin-left: -15%;
  cursor: auto;
}

.gadget-config-lanzador .header,
.gadget-config .header{
  clip-path: polygon(0.25em 0, calc(89% - 1em) 0, 100% 100%, 0.33em 100%, 0 100%, 0 0.25em);
  font-weight: bold;
  width: 215px;
  border-radius: 5px 0px 0px 0px;
  position: absolute;
  top: -45px;
  left: -1px;
  width: 209px;
  height: 40px;
  padding: 10px 6px;
}

.cerar {
  display: block;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid var(--color-primario);
  position: absolute;
  transform: translateX(100%);
  position: absolute;
  top: -45px;
  left: 98px;
  cursor: pointer;
}
.cerar p{
  color: #cfc4f7;
  font-size: 22px;
  font-family: Orbitron;
  font-weight: bold;
  position: absolute;
  top: -42px;
  left: -8px;
}
.cerar p:hover{
  color: #fff;
}


.gadget-config {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95); /* Inicialmente oculta con una escala reducida */
  transition: opacity 0.6s ease, transform 0.6s ease, visibility 0.6s ease; /* Transiciones suaves */
}

.gadget-config.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1); /* Escala normal cuando se muestra */
}

.gadget-config.hidden {
  opacity: 0;
  transform: scale(0.95); /* Escala reducida cuando se oculta */
}

/* ventana configuración */

.button_general {
  border: solid 1px #fff;
  padding: 3px;
  border-radius: 3px;
  margin: 0px;
  width: 100%;
  position: relative;
  top: -3px !important;
  font-size: 15px;
  transition: all 0.3s ease;
}
.button_general:hover{
  background-color: #fff;
  border-radius: 10px;
  border: solid 2px var(--color-primario);
  color:var(--color-primario);
  box-shadow: 
                0 0 2px rgba(255, 255, 255, 0.7), /* Sombra blanca clara */
                0 0 5px rgba(255, 255, 255, 0.5), /* Sombra blanca menos intensa */
                0 0 10px rgba(255, 255, 255, 0.3); /* Resplandor blanco más suave */

}
.button_general:active {
  background-color: var(--color-primario); /* Fondo cambia a azul en el estado activo */
  border: solid 2px #fff; /* El borde cambia a blanco */
  color: #fff; /* El texto cambia a blanco */
  box-shadow: 
                0 0 5px rgba(33, 150, 243, 0.7), /* Sombra azul clara */
                0 0 15px rgba(33, 150, 243, 0.5), /* Sombra azul menos intensa */
                0 0 20px rgba(33, 150, 243, 0.3); /* Resplandor azul más suave */
  transform: translateY(2px); /* Efecto de presionado con movimiento hacia abajo */
}

div#Programas-General {
  margin-top: -20px;
}
/* Opcional: Animación de entrada y salida personalizada */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-100px) scale(0.5);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px) scale(0.95);
  }
}

/* Aplicar animaciones cuando se agrega o quita la clase show */
.gadget-config.visible {
  animation: slideIn 0.6s ease forwards;
}

.gadget-config.hidden {
  animation: slideOut 0.9s ease forwards;
}



/* On/Off CSS Radio Switches */


.switch {
  margin: 4rem auto;
}
/* main styles */
.switch {
  width: 24rem;
  position: relative;
}
.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.switch input:checked {
  z-index: 1;
}
.switch input:checked + label {
  opacity: 1;
  cursor: default;
}
.switch input:not(:checked) + label:hover {
  opacity: 0.5;
}
.switch label {
  color: #fff;
  opacity: 0.33;
  transition: opacity 0.25s ease;
  cursor: pointer;
}
.switch .toggle-outside {
  height: 100%;
  border-radius: 2rem;
  padding: 0.25rem;
  overflow: hidden;
  transition: 0.25s ease all;
  clip-path: polygon(13% 0, 88% 0, 100% 30%, 100% 70%, 90% 100%, 12% 100%, 0% 70%, 0% 30%);
}
.switch .toggle-inside {
  border-radius: 5rem;
  background: #4a4a4a;
  position: absolute;
  transition: 0.25s ease all;
  clip-path: polygon(13% 0, 88% 0, 100% 30%, 100% 70%, 90% 100%, 12% 100%, 0% 70%, 0% 30%);
}
.switch--horizontal {
  width: 18rem;
  height: 20px;
  margin: 0 auto;
  font-size: 0;
  margin-bottom: 1rem;
}
.switch--horizontal input {
  height: 3rem;
  width: 6rem;
  left: 6rem;
  margin: 0;
}
.switch--horizontal label {
  font-size: 1.5rem;
  line-height: 3rem;
  display: inline-block;
  width: 6rem;
  height: 100%;
  margin: 0;
  text-align: center;
}
.switch--horizontal label:last-of-type {
  margin-left: 6rem;
}
.switch--horizontal .toggle-outside {
  background: #fff;
  position: absolute;
  width: 5rem;
  left: 5rem;
}
.switch--horizontal .toggle-inside {
  height: 12px;
  width: 2.5rem;
}
.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
  left: 0.25rem;
}
.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 2.25rem;
}
.switch--vertical {
  width: 12rem;
  height: 6rem;
}
.switch--vertical input {
  height: 100%;
  width: 3rem;
  right: 0;
  margin: 0;
}
.switch--vertical label {
  font-size: 1.5rem;
  line-height: 3rem;
  display: block;
  width: 8rem;
  height: 50%;
  margin: 0;
  text-align: center;
}
.switch--vertical .toggle-outside {
  background: #fff;
  position: absolute;
  width: 3rem;
  height: 100%;
  right: 0;
  top: 0;
}
.switch--vertical .toggle-inside {
  height: 2.5rem;
  left: 0.25rem;
  top: 0.25rem;
  width: 2.5rem;
}
.switch--vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 0.25rem;
}
.switch--vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 3.25rem;
}
.switch--no-label label {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.switch--no-label input:checked ~ .toggle-outside .toggle-inside {
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
}
.switch--no-label input ~ input:checked ~ .toggle-outside {
  background: #fff;
}
.switch--no-label input ~ input:checked ~ .toggle-outside .toggle-inside {
  background: #17D4FE;
  clip-path: polygon(13% 0, 88% 0, 100% 30%, 100% 70%, 90% 100%, 12% 100%, 0% 70%, 0% 30%);
}
.switch--no-label.switch--vertical {
  width: 3rem;
}
.switch--no-label.switch--horizontal {
  width: 6rem;
}
.switch--no-label.switch--horizontal input,
.switch--no-label.switch--horizontal .toggle-outside {
  left: 0;
}
.switch--expanding-inner input:checked + label:hover ~ .toggle-outside .toggle-inside {
  height: 2.5rem;
  width: 2.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ .toggle-outside .toggle-inside {
  width: 3.5rem;
}
.switch--expanding-inner.switch--horizontal input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 2.25rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ .toggle-outside .toggle-inside {
  height: 3.5rem;
}
.switch--expanding-inner.switch--vertical input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 2.25rem;
}
/* mixin */
